/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
  }
  
  img {
    max-width: 100%;
  }
  /* Fin Reset CSS */
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2em 3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #519259;
  }
  
  .container {
    background-color: #519259;
    margin: 2em;
  }
  
  h1 {
    margin: 1em;
    color: #064635;
  }

  img {
    width: 50%;
    margin: 2em;
  }
  .Film{
      margin : 1em;
     
  }
  h3{
    margin-bottom: 0.5em;
  }
  h4{
    margin-bottom: 0.5em;
  }
  p{
    margin-bottom: 1.5em;
  }
  @media screen and (min-width: 450px) {
    .container {
      width: 380px;
      margin: 4em auto 0;
      background-color: white ;
      border: 3px solid #064635;
      border-radius: 8px;
      margin: 2em;
    }

    body {
      background-color: #519259;
    }
  }
  
  @media screen and (min-width: 875px) {
    .container {
      display: block;
      width: 700px;
      background-color: white ;
      border: 3px solid #064635;
      border-radius: 8px;
      margin: 2em;
    }
  
  }
  